$( document ).ready(function() {

<!DOCTYPE html>
<html>
  <head>
    <h1> My Thermostat </h1>
  </head>
  <body>
    <section>
      <h1>Current temperature is: <id="temperature"></h1>
      <p>
        <button id="temperature-up">Hotter!</button>
        <button id="temperature-down">Colder!</button><br>
        <button id="temperature-reset">RESET</button><br>
        I am <span id="power-saving-status">saving the environment </span><br>
        <button id="powersaving-on">Save the environment</button>
        <button id="powersaving-off">Kill the environment</button>
      </p>
    </section>
  </body>
</html>

});
